<div class="jumbotron">
  <h1><small>Bytové družstvo</small><br>&#8220;U Modřínu&#8221;</h1>
  <p class="text-left">
    <address>
      Pod cihelnou 696/29<br>
      Praha 6<br>
      <abbr title="Poštovní Směrovací Číslo">PSČ:</abbr> 161 00<br>
      <abbr title="Identifikační Číslo">IČ:</abbr> 25651358<br>
    </address>
  </p>
</div>

<div class="row marketing">

  <h2 class="text-center">POZVÁNKA</h2>
  <h4 class="text-center">na</h4>
  <h2 class="text-center">ČLENSKOU SCHŮZI</h2>

  <h3 class="text-center">Bytového družstva “U Modřínu”,</h3>
  <h4 class="text-center">která se koná ve středu 20. května 2015 v 18:00 </h4>

  <h4>Program:</h4>
  <ul>
    <li>Schválení nových stanov družstva.</li>
    <li>Volba představenstva družstva.</li>
    <li>Různé.</li>
  <ul>

  <i><b>Upozornění:</b> Na tuto schůzi musíme mít 100% účast jinak se budeme scházet i platit pana notáře zbytečně. Pokud se nemůžete dostavit osobně, zajistěte si náhradníka s úředně ověřenou plnou mocí.</i>

</div>

<div class="footer">

</div>