<div class="jumbotron">
  <h1><small>Bytové družstvo</small><br>&#8220;U Modřínu&#8221;</h1>
  <p class="text-left">
    <address>
      Pod cihelnou 696/29<br>
      Praha 6<br>
      <abbr title="Poštovní Směrovací Číslo">PSČ:</abbr> 161 00<br>
      <abbr title="Identifikační Číslo">IČ:</abbr> 25651358<br>
    </address>
  </p>
</div>

<div class="row marketing">

  <h2 class="text-center">POZVÁNKA</h2>
  <h4 class="text-center">na</h4>
  <h2 class="text-center">ČLENSKOU SCHŮZI</h2>

  <h3 class="text-center">Bytového družstva “U Modřínu”,</h3>
  <h4 class="text-center">která se koná v úterý 14. října 2014 v 18:00 </h4>

  <h4>Program:</h4>
  <ul>
    <li>Schválení výsledku hospodaření za rok 2013.</li>
    <li>Navýšení pojistné částky domu.</li>
    <li>Požární revize: Vyklizení únikových cest, nové hasící přístroje.</li>
    <li>Proplacení nových topných těles a natření fasády u Doležalů.</li>
    <li>Různé.</li>
  <ul>

</div>

<div class="footer">

</div>