<div class="jumbotron">
  <h1><small>Bytové družstvo</small><br>&#8220;U Modřínu&#8221;</h1>
  <p class="text-left">
    <address>
      Pod cihelnou 696/29<br>
      Praha 6<br>
      <abbr title="Poštovní Směrovací Číslo">PSČ:</abbr> 161 00<br>
      <abbr title="Identifikační Číslo">IČ:</abbr> 25651358<br>
    </address>
  </p>
</div>

<div class="row marketing">
  <h4>Aktuálně</h4>
  <p>16.6. 2014 v 18:00 - členská schůze.</p>
  <p>8.4. 2014 v 18:00 - členská schůze.</p>
</div>

<div class="footer">

</div>