<h1>kontakt</h1>
<address>
	<strong>Bytové družstvo "U Modřínu"</strong><br/>
  Pod cihelnou 696/29<br/>
  Praha 6 - Ruzyně<br/>
  <abbr title="Poštovní Směrovací Číslo">PSČ:</abbr> 161 00<br/>
  <abbr title="Identifikační Číslo">IČ:</abbr> 25651358<br/>
</address>

<p><strong>Předseda představenstva:</strong> Ing. Jan Linhart | <span>tel: 775 603 008</span></p>
<p><strong>Místopředseda představenstva:</strong> Ing. Václav Marx</p>

<p><a href="https://or.justice.cz/ias/ui/vypis-vypis?subjektId=isor%3a307302&typ=full&klic=twv15e" target="_blank">BD "U Modřínu" na Justice.cz</a><br/>
<a href="http://wwwinfo.mfcr.cz/cgi-bin/ares/darv_or.cgi?ico=25651358&jazyk=cz&xml=1" target="_blank">BD "U Modřínu" na mfcr.cz</a></p>
